<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Password Reset</title>
  </head>

  <body>
    <div class="container">
      <div class="jumbotron">
        <p>Hello Sir/Madam,</p>
        <br />
        <p>Name : <%= customerName %></p>
        <br />
        <p>StaffId : <%= staffId %></p>
        <br />
        <p>Password : <%= password %></p>
      </div>
    </div>
  </body>
</html>
